*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: 1200px;
    margin: auto;
}

.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;

}

.headercontainer{
    height: 50px;
    background-color: lightblue;
}

.headeritem{
    height: 50%;
    width: 20%;
    background-color: goldenrod;
    border: 2px dashed black;
    text-align: center;
}

.jumbo{
    min-height: 300px;
    background-color: darkblue ;
}

.banner{
    min-height: 250px;
    min-width: 600px;
    background-color: fuchsia;
    border: 2px dashed black;
}

.sectionwhite{
    min-height: 400px;
    background-color: #fff;
}

.columnlarge{
    min-height: 300px;
    min-width: 40%;
    background-color: blue;
    border: 2px dashed black;
}

.columnsmall{
    min-height: 300px;
    min-width: 30%;
    background-color: pink;
    border: 2px dashed black;
}

.sectiongrey{
    min-height: 400px;
    background-color: lightgrey;
}

.bigsection{
    min-height: 600px;
    background-color: lightgrey;
}

.bigbanner{
    background-color: green;
    min-height: 500px;
    min-width: 70%;
    border: 2px dashed black;
}